/*  
    navbar-fixed-top
    --sm-max-width: 480px;
    --md-max-width: 996px;
    --lg-max-width: 1600px;

 */

/* 1190-lg  768-sm  */

/* Home Nav */
.search_bar {
  background-color: #f0f5ffff;
  height: 2.5rem;
}

.search_input {
  background-color: #f0f5ffff;
}

.no_focus_outline:focus {
  outline: none !important;
}

/* product nav */

.product_bottomNav > div {
  white-space: nowrap;
}

.product_bottomNav::-webkit-scrollbar {
  display: none;
}

/* footer */

.site_footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site_footer p {
  color: white;
  font-size: 13px;
}

.site_footer h6 {
  color: #87857aff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
}

.site_footer a:hover {
  text-decoration: underline;
}

.footer_links a {
  color: white;
  text-decoration: none;
}

.footer_links {
  padding-left: 0;
  list-style: none;
}

.footer_links li {
  font-size: 13px;
  display: block;
}

.footer_links.inline li {
  display: inline-block;
}

@media screen and (max-width: 700px) {
  footer{
    display: none;
  }
}